
/* Selector */
h1 {
    background-color: yellow;
    /* convert the block element to inline element*/
    display: inline;
    width: 200px;
    height: 200px;
}

/* This is a class*/
.pa {
    color: goldenrod;
    /* convert the inline element to block element*/
    display: block;
    background-color: antiquewhite;
}

/* This is a class, It is reusable */
.A {
    text-align: center;
    color: black;
    background-color: grey;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.A{
    font-size: 22px;
}

/* This is an id, It should be unique in html doc */
#unique{
    background-color: antiquewhite;
}