* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

#nav-img {
    height: 100px;
    width: 100px;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
}

#cursor-blur {
    height: 300px;
    width: 300px;
    background-color: rgba(150, 193, 30, 0.5); /* Increased opacity for a darker effect */
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
    transition: all linear 0.4s;
    pointer-events: none; /* Prevent interference with mouse events */
}

#nav {
    width: 100%;
    height: 135px;
    /* background-color: darkgoldenrod; */
    display: flex;
    /* Now to center the elements vertically (y axis) use allign items */
    align-items: center;
    /* And for the x axis we can it to be at start position i.e left side */
    justify-content: flex-start;
    padding: 0px 120px;
    gap: 60px;
    /* To stick the nav bar permanently */
    position: fixed;
    z-index: 1000;
    /* Ensure the nav stays on top of other elements */
    /* Add text shadow to improve visibility */
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    /* subtle shadow */
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

#main-video {
    height: 100vh;
    /* Ensure it covers just the viewport height */
    width: 100%;
    object-fit: cover;
    z-index: -1;
    /* Ensure it stays behind the scrollable content */
    position: fixed;
    top: 0;
    left: 0;
    /* Add gradient overlay to darken the video behind the navbar */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%);
}

#main {
    background-color: rgba(0, 0, 0, 0.123);
    position: relative;
    min-height: 200vh;
    /* Ensure enough content height for scrolling */
}


#page1 {
    height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    z-index: 10;
}

#page1 h1 {
    font-size: 7.5vw;
    font-weight: 900;
    position: relative;
}

/* Adding the stylings to the heading */
#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -2px;
    left: -5px;
    -webkit-text-stroke: 1.5px #95c11e;
    z-index: -1;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

#page1 p {
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;
}