* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

#nav-img {
    height: 100px;
    width: 100px;
}

#nav {
    width: 100%;
    height: 135px;
    /* background-color: darkgoldenrod; */
    display: flex;
    /* Now to center the elements vertically (y axis) use allign items */
    align-items: center;
    /* And for the x axis we can it to be at start position i.e left side */
    justify-content: flex-start;
    padding: 0px 120px;
    gap: 60px;
    /* To stick the nav bar permanently */
    position: fixed;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

#main-video {
    height: 100%;
    width: 100%;
    /* To cover the entire screen */
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

#main {
    background-color: rgba(0, 0, 0, 0.123);
    position: relative;
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    z-index: 10;
}

#page1 h1 {
    font-size: 7.5vw;
    font-weight: 900;
    position: relative;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

#page1 p {
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;
}