body{
    background: pink
}

.newlayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*This will overflow the elements to the next row if 
    it does not fits in the box and vise-versa if flex-direction is coloumn*/
}

.newlayout div {
    background: red;
    width: 200px;
    flex-basis: 200px; /*It defines the length of the item in the direction of main axis
    1. If flex-direction is row, flex-basis becomes the length
    2. If flex-direction is coloumn, flex-basis becomes the height */

    flex-shrink: 0;

    border: 1px solid black;
    margin: 10px;
    height: 50px;
}